<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>InfoSecurityProject</display-name>
  <welcome-file-list>
    <welcome-file>template.jsp</welcome-file>
  </welcome-file-list>
  
  <filter>
    <filter-name>AccessFilter</filter-name>
    <filter-class>cyberprime.servlets.filters.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
<filter-name>AccessFilter</filter-name>
<url-pattern>/secured/*</url-pattern>
</filter-mapping>
<listener>
  	<listener-class>
  	cyberprime.servlets.HttpServletListener
  	</listener-class>
  </listener>
  
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
       C:\\Users\\Samuel Ong\\Desktop\\Year 2 Sem 1 Stuff\\InfoSecurity Project\\apache-tomcat-7.0.42 (deployable one)\\apache-tomcat-7.0.42\\webapps\\CyberPrime2\\loginImages\\
     </param-value>
  </context-param>
 
</web-app>