/* CSS for everyone */
body{
    color:#DDD;
}

.btn {
    width:98px;
    height:28px;
    border: 1px solid #777777;
    background: #333;
    color: #DDD;
    padding: 4px;
    cursor: pointer;
}

.anonSwitch {
    position: relative; 
    width: 90px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
    align:center;
}
.anonSwitch-checkbox {
    display: none;
}
.anonSwitch-label {
    display: block;
    background-color:white;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999; 
    border-radius: 0px;
}
.anonSwitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; 
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; 
    transition: margin 0.3s ease-in 0s;
}
.anonSwitch-inner:before, .anonSwitch-inner:after {
    float: left; 
    width: 50%; 
    height: 30px; 
    padding: 0; 
    line-height: 26px;
    font-size: 14px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.anonSwitch-inner:before {
    content: "On";
    padding-left: 10px;
    background-color: #00FF00; color: #FFFFFF;
}
.anonSwitch-inner:after {
    content: "Off";
    padding-right: 10px;
    background-color: #CCCCCC; color: #333333;
    text-align: right;
}
.anonSwitch-switch {
    width: 25px; 
    margin: 0px;
    background: gray;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 65px;
    -moz-transition: all 0.3s ease-in 0s; 
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; 
    transition: all 0.3s ease-in 0s; 
}
.anonSwitch-checkbox:checked + .anonSwitch-label .anonSwitch-inner {
    margin-left: 0;
}
.anonSwitch-checkbox:checked + .anonSwitch-label .anonSwitch-switch {
    right: 0px; 
}


/* Chat.jsp CSS */

#postMessage {
    width:98px;
    height:28px;
    border: 1px solid #777777;
    background: #333;
    color: #DDD;
    padding: 4px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

textarea
{
    border:1px solid #999999;
    width:98%;
    margin:5px 0;
    padding:1%;
}

#displayMessage{
    width:100%;
    height:350px;
    border-style:solid;
    border-width:1px;
    border-color:gray;
    overflow-y:auto;
    background-color:white;
}

/* firstPage.jsp CSS */

#textContent {
    text-align:center;
    color:white;
}

/* fileTransfer.jsp CSS */

body {
    width:775px;
    height:570px;
}

.center {
    padding: 5% 5% 5% 5%;
    border-color: black;
}

#submitButton {
    width:98px;
    height:28px;
    border: 1px solid #777777;
    background: #333;
    color: #DDD;
    padding: 4px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}    

/* video.jsp CSS */

body{
    width:775px;
    height:580px;
}

input.buttonBack{
    background-image: url(../images/back.png),url(images/back.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;           
    cursor: pointer;        
    height: 35px;           
    padding-left: 35px;     
    vertical-align: middle; 
}

input.buttonForward{
    background-image: url(../images/forward.png),url(images/forward.png); 
    background-color: transparent; 
    background-repeat: no-repeat; 
    background-position: 0px 0px;
    border: none;          
    cursor: pointer;       
    height: 35px;     
    padding-left: 35px;     
    vertical-align: middle;
}

input.buttonRefresh{
    background-image: url(../images/refresh.jpg),url(images/refresh.jpg); 
    background-color: transparent; 
    background-repeat: no-repeat;  
    background-position: 0px 0px; 
    border: none;          
    cursor: pointer;       
    height: 35px;           
    padding-left: 35px;    
    vertical-align: middle;
}

/* ::-webkit-scrollbar {
    width: 15px;
} this targets the default scrollbar (compulsory)

::-webkit-scrollbar-track {
    background-color: #b46868;
} the new scrollbar will have a flat appearance with the set background color

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} this will style the thumb, ignoring the track

::-webkit-scrollbar-corner {
    background-color: #b46868;
} if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled
 */
#iframe{
    width:100%;
    height:90%;
}

/* conference.jsp CSS */

#webcam, #canvas {
    width: 640px;
    border:20px solid #333;
    background:#eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#webcam {
    position:relative;
}

#webcam > span {
    z-index:2;
    position:absolute;
    color:#eee;
    font-size:10px;
    bottom: -16px;
    left:152px;
}

#canvas {    
    border:20px solid #ccc;
    background:#eee;
}